body {
	background-color: #f2f2f2;
}

body div.content-wrapper {
	margin: 0px auto;
	margin-top: 20px;
	width: 600px;
}

body div.content-wrapper img {
	margin: 0px auto;
}

form.login-form, form.register-form {
	margin: 5px auto;
	padding: 5px;
	max-width: 350px;
}

form.login-form h2{
	text-align: center;
}

input.top {
	margin-bottom: -1px;
	margin-top: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

input.bottom {
	margin-bottom: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

input.medium {
	border-radius: 0px;
}

button.logout {
	margin-top: -45px;
	float: right;s
}

.well-project h3 {
	display: inline;
}

.well-project form {
	display: inline;
	float: right;
}

div.project-color {
	width: 18px;
	height: 18px;
	border-radius: 3px;
	display: inline-block;
}

form h4 {
	display: inline;
}

.list-group-item h3 {
	display: inline;
}

.list-group-item form {
	float: right;
}

.panel-heading h2 {
	display: inline;
}

.colorpicker-element {
	width: 200px;
	float: right;
}