{{extend 'layout.html'}}

<br />
<a href="{{=URL('projects', ' ')}}">Projects</a>

<ul>
    {{for task in tasks:}}
        <li>{{=task.id}}.
            <a href={{=URL('tasks','details', args=task.id)}}> {{=task.name}} </a>
        </li>
        <form id="login" method="post" action="{{=URL('projects', 'deletetask')}}">
            <input type="hidden" name="projectId" value="{{=projectId}}" />
            <input type="hidden" name="taskId" value="{{=task.id}}" />
            <button class="btn btn-default btn-sm" type="submit">
                <span class="glyphicon glyphicon-remove" aria-hidden="true" />
            </button>
        </form>
    {{pass}}
</ul>

<form method="post" action="{{=URL('projects', 'addtask')}}">
    name: <input type="text" name="name" /> </br>
    <input type="hidden" name="projectId" value="{{=projectId}}">
    <input type="submit" value="Add task" /> </br>
</form>