{{extend 'layout.html'}}

<ul>
    {{for project in projects:}}
        <li>{{=project.id}}.
            <a href={{=URL('projects','details', args = project.id)}}> {{=project.name}} </a>
            <form action="{{=URL('projects','delete')}}" method="post">
                <input type="hidden" name="projectId" value="{{=project.id}}">
                <button class="btn btn-default btn-sm" type="submit">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" />
                </button>
            </form>
        </li>
    {{pass}}
</ul>

<form method="post" action="create">
    name: <input type="text" name="name" /> </br>
    <input type="submit" value="Add project" /> </br>
</form>